.containerbox {
    position: relative;
    border: 2px dashed #ccc;
    padding: 10px ;
    margin: 10px;
}

.boxcard {
    position: absolute;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #999;
}
.grid-item{
    border: 1px solid;
}