.containerbox {
    position: relative;
    border: 2px dashed #ccc;
    padding: 10px;
    margin: 10px;
}

.boxcard {
    position: absolute;
    cursor: pointer;
}

/* GridComponent */

.grid-container {
    display: grid;
}

.grid-item {
    border: 1px solid;
}


/* table css */

/* Table styles */
.tableComponents table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

/* Table header */
.tableComponents th {
    border: 1px solid #ddd;
    font-weight: 500;
    text-align: left;
    padding: 8px;
}


/* Table body - cell styles */
.tableComponents td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Fontchanges */
.fontBox {
    position: absolute;
    top: 22px;
}

.firstfontBox {
    display: flex;
    gap: 4px;
}

.fontBoxMain {
    position: fixed;
    background-color: #4D4D4D;
    border-radius: 5px;
    padding: 3px 5px;
}

.firstfontBox select {
    background: transparent;
    font-size: 13px;
    padding: 2px;
    color: #ddd;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.firstfontBox select option {
    background-color: #4D4D4D;
}

.fontColor {
    font-size: 18px;
    height: 100%;
    padding: 0 5px;
}
.fontColor::after{
    content: "";
}