.section-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    white-space: nowrap;
}

.color-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
}

.color-container.medium .colorBox {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.input-addon-wrapper input {
    padding: 2px;
    border: 0;
    font-size: 14px;
}



.section-header {
    font-weight: 500;
    display: flex;
    transition: none 0s ease 0s;
    outline: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}



.pt-btn {
    outline: none;
    display: inline-flex;
    margin: 0px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: default;
    flex-shrink: 0;
}

.pt-btn {
    padding: 0.1rem 0.2rem;
    border-radius: 4px;
    font-size: 12px;
    /* border: 0; */
    background-color: transparent;
}



.pt-icon>svg:not([class*="stroke"]) {
    fill: currentcolor;
}

/* WidthAndHeight */
.size {
    font-size: 0.8rem;
    font-weight: 500;
}

.pt-input {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

.pt-input input {
    width: 100% !important;
}

.pt-input input,
.pt-input select {
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8rem;
    text-align: center;
    border: 0;
    width: 100%;
}