@import '~mdb-ui-kit/css/mdb.min.css';

.mainLayout {
  display: flex;
  width: 100%;
}

img {
  max-width: 100%;
  border-radius: 3px;
}

.fisrtColumn {

  margin-left: -15px;
  background-color: var(--sidebarbg);
}

.thirdColumn {
  margin-right: -12px;
  background-color: var(--white);
}


/* main */
.homecard {
  border-radius: 2px;
  height: 100vh;
  background-color: #fff;
}

.selected {
  outline: 2px solid red;
}

