.mainLayout {
  display: flex;
  width: 100%;
}

img {
  max-width: 100%;
  border-radius: 3px;
}

.fisrtColumn {
  background-color: var(--sidebarbg);
}

.rightSideBar {
  background-color: var(--white);
}


/* main */
.homecard {
  border-radius: 2px;
  position: relative;
  height: 100vh;
  background-color: #fff;
}

.selected {
  outline: 2px solid red;
}
.containerbox {
  border: 2px dashed #ccc;
  padding: 10px;
  margin: 10px;
}

